In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
from ds import *
dropna=True
data_train = Data_Loader('train_file.xlsx',train=True,dropna=dropna)

# Simple Machine learning

In [ ]:
al = All_Simple(data_train)

TRAIN: [ 2428  2429  2430 ... 24271 24272 24273] VALID: [   0    1    2 ... 2425 2426 2427]
TRAIN: [    0     1     2 ... 24271 24272 24273] VALID: [2428 2429 2430 ... 4853 4854 4855]
TRAIN: [    0     1     2 ... 24271 24272 24273] VALID: [4856 4857 4858 ... 7281 7282 7283]
TRAIN: [    0     1     2 ... 24271 24272 24273] VALID: [7284 7285 7286 ... 9709 9710 9711]
TRAIN: [    0     1     2 ... 24271 24272 24273] VALID: [ 9712  9713  9714 ... 12136 12137 12138]
TRAIN: [    0     1     2 ... 24271 24272 24273] VALID: [12139 12140 12141 ... 14563 14564 14565]
TRAIN: [    0     1     2 ... 24271 24272 24273] VALID: [14566 14567 14568 ... 16990 16991 16992]
TRAIN: [    0     1     2 ... 24271 24272 24273] VALID: [16993 16994 16995 ... 19417 19418 19419]
TRAIN: [    0     1     2 ... 24271 24272 24273] VALID: [19420 19421 19422 ... 21844 21845 21846]
TRAIN: [    0     1     2 ... 21844 21845 21846] VALID: [21847 21848 21849 ... 24271 24272 24273]
TRAIN: [ 2428  2429  2430 ... 24271 24272 24273] VALID: [   0    1    2 ... 2425 2426 2427]
TRAIN: [    0     1     2 ... 24271 24272 24273] VALID: [2428 2429 2430 ... 4853 4854 4855]

In [ ]:
with open('{0}/preds_simple.pickle'.format('drop_na' if dropna else 'inc_na'),'wb') as f:
    pickle.dump(al.y_preds,f)

# Neural Network

In [ ]:
nn_model = NN(data_train)
nn_model.run()

In [ ]:
with open('{0}/preds_nn.pickle'.format('drop_na' if dropna else 'inc_na'),'wb') as f:
    pickle.dump(nn_model.y_preds,f)
with open('{0}/hist_nn.pickle'.format('drop_na' if dropna else 'inc_na'),'wb') as f:
    pickle.dump(nn_model.history,f)

In [ ]:
# Feature improtance
fi = Feat_Imp(data_train)

fi.feat_imp

In [ ]:
with open('{0}/fi.pickle'.format('drop_na' if dropna else 'inc_na'),'wb') as f:
    pickle.dump({'X_new_cols':fi.X_new_cols,'feat_imp':fi.feat_imp},f)

# Predict on test set

In [7]:
dropna=True
data_train = Data_Loader('train_file.xlsx',train=True,dropna=dropna)
data_test = Data_Loader('test_file.xlsx',train=False,dropna=dropna)

In [8]:
data_test.X

,age,campaign,contact,day_of_week,default,duration,education,housing,job,loan,marital,month,poutcome,previous
0,34,4,telephone,thu,no,214,high.school,no,services,no,married,may,nonexistent,0
1,29,1,cellular,thu,no,190,basic.9y,no,blue-collar,no,single,jul,nonexistent,0
2,35,2,cellular,wed,no,152,high.school,no,admin.,no,single,may,nonexistent,0
3,60,1,cellular,fri,no,179,high.school,yes,admin.,no,divorced,jul,nonexistent,0
4,45,2,telephone,wed,no,105,university.degree,no,management,no,married,may,nonexistent,0
5,31,1,telephone,thu,no,141,basic.9y,yes,blue-collar,no,married,may,nonexistent,0
6,39,5,telephone,mon,no,87,professional.course,no,blue-collar,no,married,may,nonexistent,0
7,67,1,cellular,mon,no,186,professional.course,yes,retired,yes,married,aug,nonexistent,0
8,21,1,cellular,thu,no,400,high.school,no,student,no,single,jun,nonexistent,0
11,44,1,telephone,mon,no,300,professional.course,yes,admin.,no,married,may,nonexistent,0
14,50,3,telephone,fri,no,116,basic.9y,no,admin.,no,married,jun,nonexistent,0
15,29,4,telephone,wed,no,104,university.degree,no,technician,no,married,may,nonexistent,0
18,29,1,telephone,wed,no,251,university.degree,no,admin.,yes,single,jun,nonexistent,0
22,50,7,cellular,fri,no,60,high.school,yes,services,no,married,jul,nonexistent,0
23,33,1,cellular,mon,no,153,professional.course,yes,technician,no,divorced,apr,failure,1
24,29,2,cellular,mon,no,134,high.school,yes,blue-collar,no,single,may,failure,1
25,28,5,telephone,wed,no,242,basic.9y,yes,blue-collar,no,single,may,nonexistent,0
26,32,4,telephone,tue,no,59,basic.9y,no,blue-collar,no,married,may,nonexistent,0
27,29,3,cellular,fri,no,437,university.degree,yes,technician,yes,single,may,nonexistent,0
28,37,1,cellular,fri,no,177,university.degree,yes,self-employed,no,married,aug,nonexistent,0
29,39,1,telephone,tue,no,158,basic.6y,yes,blue-collar,no,married,may,nonexistent,0
30,30,5,cellular,mon,no,833,university.degree,no,management,yes,married,jul,nonexistent,0
31,28,1,cellular,thu,no,315,basic.9y,yes,blue-collar,no,single,apr,success,1
32,44,3,telephone,mon,no,291,professional.course,yes,entrepreneur,no,married,nov,nonexistent,0
33,47,3,telephone,fri,no,64,basic.9y,yes,admin.,no,married,nov,nonexistent,0
34,29,7,cellular,thu,no,16,basic.6y,no,blue-collar,no,married,may,nonexistent,0
35,28,1,cellular,tue,no,192,high.school,yes,services,no,single,jul,nonexistent,0
36,52,1,cellular,fri,no,64,professional.course,yes,technician,no,married,nov,failure,1
37,54,4,cellular,mon,no,131,basic.9y,no,admin.,yes,married,jul,nonexistent,0
38,29,1,telephone,fri,no,165,university.degree,no,admin.,no,married,may,nonexistent,0
39,35,3,telephone,tue,no,544,university.degree,no,admin.,yes,married,jun,nonexistent,0

In [9]:
sp_gb = SimplePred_Ridge(data_train,data_test)
sp_gb.y_pred

NameError: name 'SimplePred_Ridge' is not defined

In [ ]:
test_set = pd.concat([data_test.X,pd.Series(sp_gb.y_pred,name='y',index=data_test.X.index.tolist())],axis=1)
test_set.to_excel('testing_file_catherine_predictions.xlsx')
test_set